<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>be.vdab.servlets.IndexServlet</servlet-class>
		<init-param>
			<param-name>emailOwner</param-name>
			<param-value>yannick.thibos@gmail.com</param-value>
		</init-param>
	</servlet>
	<!-- <servlet-mapping> <servlet-name>IndexServlet</servlet-name> <url-pattern>/index.htm</url-pattern> 
		</servlet-mapping> -->
	<context-param>
		<param-name>emailWebmaster</param-name>
		<param-value>yannick.thibos@gmail.com</param-value>
	</context-param>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/JSP/404.jsp</location>
	</error-page>
	<error-page>
		<exception-type>be.vdab.dao.DAOException</exception-type>
		<location>/WEB-INF/JSP/daoexception.jsp</location>
	</error-page>
</web-app>